@import "base/var.css";
@import "base/reset.css";

@import "block/wrapper.css";
@import "block/background.css";
@import "block/timer-content.css";
@import "block/timer-finish.css";

@import "container/timer-img.css";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: var(--white-color);
  font-size: var(--text);
  font-family: "Bodoni MT", sans-serif;
  background: var(--pirple-color);
}

.title {
  color: white;
}


